* {
  box-sizing: border-box;
  background-color: #181818;
  color: #fff
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  border: 1px solid #ff6600;
}