* {
  box-sizing: border-box;
  background-color: #181818;
  color: #fff;
  margin: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  border-bottom: 1px solid #ff6600;
}


header, .logo, .header-buttons, footer{
  background-color: #0a0a0a;
}

section {
  display: flex;
  flex-direction: row;
  background-color: #0a0a0a;
  border: 2px solid #ff6000;
  border-radius: 1rem;
  justify-content: space-evenly;
  margin: 5%;
}

selection {
  display: flex;
  flex-direction: column;
  padding: 3%;
  justify-content: space-between;
  border-radius: 1rem;
  background-color: transparent;
}

#button {
  background-color: #181818;
  border: 1px solid #ff6000;
  border-radius: 20%;
  padding: ;
  
}

.box_div_1 {
  width: 75%;
  height: 20rem;
  background-color: #202020;
  border-radius: 12px;
  display: flex;
  border: 2px solid #ff6000;
  margin: 5%;
  margin-left: 0px;
}


pre {
  margin: auto;
  color: #ff6000;
  background-color: transparent;
}

