* {
  box-sizing: border-box;
  color: #fff;
  margin: 0px;
}

body {
  background-color: #181818;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  border-bottom: 1px solid #ff6600;
}


header, .logo, .header-buttons, footer{
  background-color: #0a0a0a;
}

hero, .hero-content {
  margin: 5%;
}

.hero-content {
  background-color: #181818;
}

.hero-img, img {
  display: block;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

section {
  display: flex;
  flex-direction: row;
  background-color: #0a0a0a;
  border: 2px solid #ff6000;
  border-radius: 1rem;
  justify-content: space-evenly;
  margin: 5%;
}

selection {
  display: flex;
  flex-direction: column;
  padding: 3%;
  justify-content: space-between;
  border-radius: 1rem;
  background-color: transparent;
}

#button {
  background-color: #181818;
  border: 1px solid #ff6000;
  border-radius: 20%;
  padding: ;
  
}

.box_div_1 {
  width: 75%;
  height: 20rem;
  background-color: #202020;
  border-radius: 12px;
  display: flex;
  border: 2px solid #ff6000;
  margin: 5%;
  margin-left: 0px;
}


pre {
  margin: auto;
  color: #ff6000;
  background-color: transparent;
}


footer {
  text-align: center;
  border-top: 1px solid #ff6600;
}

@media only screen and (min-width: 992px){
  content {
    display: flex;
    align-items: center;
  }

  hero {
    display: flex;
  }

  section {
    width: 30rem;
  }

  piramid {
    
  }

  .box_div_1 {
    /* width: 100%; */
  }
}
